build
CMakeFiles
cmake-build-*
.idea/deployment.xml
.idea/other.xml
config.json
vcpkg_installed
run.sh
images
memory_profiler.sh
heaptrack.sh
.env
emulator_build
desktop_build
__pycache__
LED_Matrix_Controller.ini